*{
    font-family: Courier;
}
body {
    height: 100vw;
    margin: 0;
    background: radial-gradient(circle, #fff, #000, #da3f3f,#fff,#b8b8b8, #fff, #f5e662, #fff);
}
header {
    height: 75px;
    margin: 10px;
    text-align: center;
    border: 3px solid black;
    background-color: #b8b8b8;
}
.button-class {
    background-color: green;
    border: 1px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color:#000;
    border: 2px solid green;
}